<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizAPP">
        <activity
            android:name=".Auth.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Questions.NbaActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivityNba"
            android:exported="false" />
        <activity
            android:name=".Questions.QuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".flags.QuestionsActivityFlags"
            android:exported="false" />
        <activity
            android:name=".Auth.NbaAuth"
            android:exported="false"/>
        <activity
            android:name=".Auth.CategoriesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>